<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CYSEC CLUB GITAM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>
  <body>
    <!-- {% include 'bg.html' %}  -->

    {% include 'navbar.html' %}

    <div class="container">
      <!-- glitch div -->
      <div class="glitch-div">
        <h1 class="glitch">
          <span aria-hidden="true" class="glitchspan">cysec club</span>
          cysec club
          <span aria-hidden="true" class="glitchspan">cysec club</span>
        </h1>
      </div>

      <!-- typewriter text -->

      <div class="h-text">
        <div class="h-animate">
          <span class="text first-text">CYSEC is&nbsp;</span>
          <span class="text sec-text"></span>
        </div>
      </div>

      <!-- cards  -->

      <div class="cardcontainer">
        <div class="cardbox">
          <span class="cardspan"></span>
          <div class="cardcontent">
            <h2>What is CYSEC?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="cardbox">
          <span class="cardspan"></span>
          <div class="cardcontent">
            <h2>Our Vision</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="cardbox">
          <span class="cardspan"></span>
          <div class="cardcontent">
            <h2>Our Mission</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="whatsnew_div">
        <h1 style="text-align: center; color: aliceblue">
          What's new
        </h1>

      </div>




      <!-- Faq container -->
      <div class="faq">
        <h2 style="text-align: center; color: aliceblue">
          Frequently Asked Questions
        </h2>

        <div class="faqwrapper">
          {% for faq in faqs %}

          <div class="faqcontainer">
            <div class="question">{{ faq.question }}</div>
            <div class="answercont">
              <div class="answer">
                {{ faq.answer}}
                <br /><br />
                {% if faq.hyperlinktext %}
                <a class="faqhyperlink" href="{{ faq.hyperlink }}"
                  >{{ faq.hyperlinktext }}</a
                >
                {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    <style>
      .bgcontainer {
        padding: 0;
        height: 100%;
        width: 100%;
        position: fixed;
      }
      html {
        background: #000000;
      }
    </style>
    <div class="bgcontainer" style="margin: 0">
      <script
        type="text/javascript"
        color="0,255,0"
        pointColor="0,255,0"
        opacity="0.7"
        zIndex="-2"
        count="700"
        src="{% static 'bg.js' %}"
      ></script>
    </div>
    <script src="{% static 'home.js' %}"></script>
  </body>
</html>
