<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <title>CYSEC CLUB GITAM</title>
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'cyseclogo.png' %}" />

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css"
    />

  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="maincontainer">

      {% if messages %}
        {% for message in messages %}
          <center>
          <div class="alert" style="margin:10px;">
            <span
              class="closebtn"
              onclick="this.parentElement.style.display='none';"
              >&times;</span
            >
            <strong>{{message}}</strong>
          </div></center>
          <style>
            .alert {
              padding: 20px;
              background-color: rgb(187, 235, 198);
              color: black;
              border-radius: 5px;
              width: 300px;
              text-align: center;
              margin: 30px;
            }
          </style>
      {% endfor %}
      {% endif %}

      <center><img src="{% static 'cyseclogo.png' %}" style="height:450px"></center>
      <!-- glitch div -->

      <div class="typewriter" style="font-family: 'VT323';margin-left:20vw;">
        
        <h1>><span class="auto-type"></span></h1>
      </div>

      <!-- wordsloop -->

      <h1 class="wordloop-h1">
        CYSEC is
        <span class="wordloop-span">
          <span class="wordloop-span">for the Students</span>
          <span class="wordloop-span">by the Students</span>
          <span class="wordloop-span">to learn Cybersecurity</span>
          <span class="wordloop-span">for the Students</span>
          <!-- add the first one to the bottom again -->
        </span>
      </h1>
      <style>
        
        .wordloop-h1 {
          font-size: 3em;
          color: rgb(255, 255, 255);
          padding-left: 20%;
        }
        .wordloop-h1 > .wordloop-span {
          position: relative;
          display: inline-block;
          color: #ff3c41;
          height: 1.40em;
          vertical-align: top;
          overflow: hidden;
        }
        .wordloop-h1 > .wordloop-span .wordloop-span {
          display: block;
          animation: animateWords 5s infinite ease;
        }

        /* divided into as many parts as there are spans, each part decreasing the translateY by -100% */
        @keyframes animateWords {
          0% {
            transform: translateY(0%);
          }
          25% {
            transform: translateY(-100%);
          }
          50% {
            transform: translateY(-200%);
          }
          75% {
            transform: translateY(-300%);
          }
          100% {
            transform: translateY(-400%);
          }
        }
      </style>

      

      <!-- cards  -->

      <div class="cardcontainer">
        <div class="cardbox">
          <span class="cardspan"></span>
          <div class="cardcontent">
            <h2>What is CYSEC?</h2>
            <p >
              CYSEC at GITAM University across Vizag, Hyderabad, and Bangalore campuses. We educate about cybersecurity, raise awareness of cyber threats, and empower students to protect our digital future.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="cardbox">
          <span class="cardspan"></span>
          <div class="cardcontent">
            <h2>Our Vision</h2>
            <p>
              At CYSEC, we aim to unite GITAM University students across campuses, educating them about cybersecurity, raising awareness about cyber threats, and fostering expertise to ensure a safer digital world.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="cardbox">
          <span class="cardspan"></span>
          <div class="cardcontent">
            <h2>Our Mission</h2>
            <p>
              At CYSEC, the GITAM University student club, our mission is to empower students with cybersecurity knowledge, raise awareness about cyber threats, and promote secure digital navigation
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="whatsnew_div">
        <h1 style="text-align: center; color: aliceblue;font-size: 40px">What's new</h1>
        <br>


        {% if events %}
        {% for event in events %}
        <div class="event-container">
          <div class="event-left-column" style="margin:auto">
              <h1>{{ event.title }}</h1>
              <br>
              <div class="event-description" style="text-align: justify;text-justify: inter-word;">
                <p>{{ event.description}}</p>
              </div>
              <br>
              <div class="sub-columns" >
                  <div class="sub-column">
                      <p>Venue: {{ event.venue }}</p>
                  </div>
                  <div class="sub-column">
                    <p>Mode: {{ event.mode }}</p>
                  </div>
                  <div class="sub-column">
                      <p>Start Time: {{ event.start_dateandtime }}</p>
                  </div>
                  <div class="sub-column">
                      <p>End Time: {{ event.end_dateandtime }}</p>
                  </div>
              </div>
              {% if user.is_authenticated %}
                {% if event.event_id in registered %}
                  {% if event.is_submission %}
                    {% if event.event_id in  submissions %}
                    <a href="" class="event-register-button" style="background-color: #0056b3;" ><strong>Already Submitted</strong></a>
                    {% else %}
                    <a href="{% url 'eventsubmission' event.event_id %}" class="event-register-button"><strong>Upload your submission</strong></a>
                    {% endif %}
                  {% else %}
                    <a href="" class="event-register-button" style="background-color: #0056b3;"><strong>Already registared for the event</strong></a>
                  {% endif %}
                {% else %}
                <a href="{% url 'register_event' event.event_id %}" class="event-register-button"><strong>Register for the event</strong></a>
                {% endif %}
              {% else %}
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="event-register-button"><strong>Register for the event</strong></a>
              {% endif %}
              <br>
              {% if event.zoom_link %}
              <a href="{{ event.zoom_link }}" class="event-register-button"><strong>Topics and rules</strong></a>
              {% endif %}
              <br>
              {% if event.whatsapp_group_link %}
              <a href="{{ event.whatsapp_group_link }}" class="event-register-button" style="background-color: #25d366;color:#000000"><strong>Join Whatsapp Group</strong></a>
              {% endif %}

          </div>
          <div class="event-right-column">
              <img src="https://cysec.gitam.edu/home/cysecserver/CYSEC-WEBSITE/media/{{ event.imageurl}}" alt="Image" class="event-image">
              <!-- <img src="https://cysec.gitam.edu/home/cysecserver/CYSEC-WEBSITE/media/events/1_A_Tweak_into_Cyber_Security_20230826_130903.jpeg" alt="Image" class="event-image"> -->
          </div>
      </div>
      {% endfor %}
      {% endif %}

        <h1 style="text-align: center; color: aliceblue; font-size: 40px;">CTF's for you</h2>
        <div class="ctfs_slider" style="margin: 70px;">
          <div class="slide-container swiper" style="z-index:0">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
                {% for ctf in ctfs %}
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                      {% if ctf.logo_url %}
                      <img
                        src="https://ctftime.org{{ ctf.logo_url }}"
                        alt=""
                        class="card-img"
                      />
                      {% else %}
                      <img
                        src="https://capturetheflag.withgoogle.com/img/flag_logo.gif"
                        alt=""
                        class="card-img"
                      />
                      {% endif %}
                    </div>
                  </div>

                  <div class="card-content">
                    <h2 class="name">{{ ctf.title }}</h2>
                    <p class="description">
                      <b>start date: </b> {{ ctf.start_date }}<br>
                      <b>finish date: </b> {{ ctf.finish_date }}<br>
                      <b>CTF format: </b> {{ ctf.format_text }}<br>
                      <b>CTF rating: </b>{{ ctf.rating_weight }}<br>
                    </p>
                    <a class="btn btn-primary" href="{{ ctf.event_url }}"><button>Register</button></a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <!-- Faq container -->
      <div class="faq">
        <h2 style="text-align: center; color: aliceblue">
          Frequently Asked Questions
        </h2>

        <div class="faqwrapper">
          {% for faq in faqs %}

          <div class="faqcontainer">
            <div class="question">{{ faq.question }}</div>
            <div class="answercont">
              <div class="answer">
                {{ faq.answer}}
                <br /><br />
                {% if faq.hyperlinktext %}
                <a class="faqhyperlink" href="{{ faq.hyperlink }}"
                  >{{ faq.hyperlinktext }}</a
                >
                {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    <style>
      .bgcontainer {
        padding: 0;
        height: 100%;
        width: 100%;
        position: fixed;
      }
      html {
        background: #000000;
      }
    </style>
    <div class="bgcontainer" style="margin: 0">
      <script
        type="text/javascript"
        color="0,255,0"
        pointColor="0,255,0"
        opacity="0.7"
        zIndex="-2"
        count="700"
        src="{% static 'bg.js' %}"
      ></script>
    </div>
  </body>
  <!-- Swiper JS -->
  <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>

  <!-- JavaScript -->
  <!--Uncomment this line-->
  <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js"></script>

  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

  <script src="{% static 'home.js' %}"></script>
  <script>
    var viewMode = getCookie("view-mode");
    if(viewMode == "desktop"){
        viewport.setAttribute('content', 'width=1024');
    }else if (viewMode == "mobile"){
        viewport.setAttribute('content', 'width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no');
    }
  </script>
</html> 
