<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'test2.css' %}" />
  </head>
  <body>
    {% if reg in user %}
    <p>Event is present in the list.</p>
    {% else %}
    <p>Event is {{ user }} not present in the list.</p>
    {% endif %}

    <!-- <section>
      <div class="two-column-wrapper">
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
            excepturi, sapiente natus et ipsam maxime labore sint, consequatur
            voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor
            voluptatem doloribus, unde quas, magni?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
            excepturi, sapiente natus et ipsam maxime labore sint, consequatur
            voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor
            voluptatem doloribus, unde quas, magni?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
            excepturi, sapiente natus et ipsam maxime labore sint, consequatur
            voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor
            voluptatem doloribus, unde quas, magni?
          </p>
        </div>
        <div>
          <img src="https://unsplash.it/800?random" alt="" />
        </div>
      </div>
      <div class="two-column-wrapper">
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
            excepturi, sapiente natus et ipsam maxime labore sint, consequatur
            voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor
            voluptatem doloribus, unde quas, magni?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
            excepturi, sapiente natus et ipsam maxime labore sint, consequatur
            voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor
            voluptatem doloribus, unde quas, magni?
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
            excepturi, sapiente natus et ipsam maxime labore sint, consequatur
            voluptatibus deleniti necessitatibus tempora reiciendis sequi dolor
            voluptatem doloribus, unde quas, magni?
          </p>
        </div>
        <div>
          <img src="https://unsplash.it/800?random" alt="" />
        </div>
      </div>
    </section> -->

    <h1 class="wordloop-h1">
      Never gonna
      <span class="wordloop-span">
        <span class="wordloop-span">give you up</span>
        <span class="wordloop-span">let you down</span>
        <span class="wordloop-span">turn around</span>
        <span class="wordloop-span">hurt you</span>
        <span class="wordloop-span">give you up</span>
        <!-- add the first one to the bottom again -->
      </span>
    </h1>
  </body>
  <script src="{% static 'test.js' %}"></script>
</html>
