<!DOCTYPE html>
<html>
  <head>
    <title>User Details Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_details.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'cyseclogo.png' %}" />
  </head>
  <body>
    <div class="form-container">
      <div class="title">User Details</div>
      {% for field in form %} {% if field.errors %}
          <div class="alert" style="margin:10px;">
            <span
              class="closebtn"
              onclick="this.parentElement.style.display='none';"
              >&times;</span
            >
            <strong>error!</strong> {{ field.errors.0 }}
          </div>
          {% endif %} 
          {% endfor %}
      <form method="post" enctype="multipart/form-data" class="form-item">
        {% csrf_token %}

        <div class="user-details">
          {% for field in form %} 
          {% if field.name == 'profile_image' %} 
          <div class="input-box">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <br />
            {{ field }}
            <br />
            <img
              id="image-preview"
              src="#"
              alt="Preview"
              style="max-width: 150px; max-height: 150px; display: none ; border: 5px solid #fff; border-radius: 10px; margin: 5px;"
            />
            <script>
              const fileInput = document.getElementById("id_profile_image");
              const imagePreview = document.getElementById("image-preview");

              fileInput.addEventListener("change", function () {
                const file = fileInput.files[0];
                if (file) {
                  const reader = new FileReader();
                  reader.onload = function () {
                    imagePreview.src = reader.result;
                    imagePreview.style.display = "block";
                  };
                  reader.readAsDataURL(file);
                } else {
                  imagePreview.src = "#";
                  imagePreview.style.display = "none";
                }
              });
            </script>
          </div>
          {% else %}

          <div class="input-box">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <br />
            {{ field }}
          </div>
          {% endif %} {% endfor %}
        </div>
        <div class="button">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
    <div class="bgcontainer" style="margin: 0">
      <script
        type="text/javascript"
        color="0,255,0"
        pointColor="0,255,0"
        opacity="0.7"
        zIndex="-2"
        count= "500"
        src="{% static 'bg.js' %}"
      ></script>
    </div>
  </body>
</html>
