.maincontainer {
  display: grid;
  justify-content: center;
}

/* Glitch css */

.lines {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  opacity: 50%;
}

.typewriter h1 {
  color: #33f933;
  font-size: 150px;
  overflow: hidden;
  text-shadow: 1px 1px 9px rgb(51, 249, 51);
}

/* words loop css */

.wordloop-h1 {
  font-size: 3em;
  color: blue;
}
.wordloop-h1 > .wordloop-span {
  position: relative;
  display: inline-block;
  color: #ff3c41;
  height: 1.25em;
  vertical-align: bottom;
  overflow: hidden;
}
.wordloop-h1 > .wordloop-span .wordloop-span {
  display: block;
  animation: animateWords 5s infinite ease;
}

/* divided into as many parts as there are spans, each part decreasing the translateY by -100% */
@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}




/* event container */
.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #00FF00; /* Neon green border */
  padding: 20px;
  color: #fff;
  margin: 3vh 10vw;
  border-radius: 40px;
  box-shadow: 0 0 20px rgb(38, 191, 71);
}

/* Left column */
.event-left-column {
  flex: 1;
  text-align: center;
  font-size: 1.1em;
}

/* Right column */
.event-right-column {
  flex: 1;
  text-align: end;
}

/* Image in the right column */
.event-image {
  max-width: 90%;
  height: auto;
  vertical-align: middle;
}

/* Button styling */
.event-register-button {
  display: block;
  margin: 10px auto; /* Decreased margin */
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%; /* Set width to auto for normal button size */
  text-decoration: none;
}

.event-register-button:hover {
  background-color: #0056b3;
}

/* Mobile view: right column below left column */
@media screen and (max-width: 800px) {
  .event-container {
      flex-direction: column;
      align-items: center;
      
  }

  .event-left-column, .event-right-column {
      flex: auto;
      width: 100%;
      font-size: 0.5em;
  }
}


.alert {
  padding: 20px;
  background-color: rgb(187, 235, 198);
  color: black;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  margin: 30px;
}



/* cards css */

.cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0px 100px 0;
  text-align: justify;
  text-justify: inter-word;
}


.cardcontainer .cardbox {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.cardcontainer .cardbox::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.cardcontainer .cardbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.cardcontainer .cardbox:hover:before,
.cardcontainer .cardbox:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.cardcontainer .cardbox:nth-child(1):before,
.cardcontainer .cardbox:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.cardcontainer .cardbox:nth-child(2):before,
.cardcontainer .cardbox:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.cardcontainer .cardbox:nth-child(3):before,
.cardcontainer .cardbox:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.cardcontainer .cardbox .cardspan {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.cardcontainer .cardbox .cardspan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.cardcontainer .cardbox:hover .cardspan::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.cardcontainer .cardbox .cardspan::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.cardcontainer .cardbox:hover .cardspan:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.cardcontainer .cardbox .cardcontent {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.cardcontainer .cardbox:hover .cardcontent {
  left: -25px;
  padding: 60px 40px;
}

.cardcontainer .cardbox .cardcontent h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.cardcontainer .cardbox .cardcontent p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.cardcontainer .cardbox .cardcontent a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.cardcontainer .cardbox .cardcontent a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/* faq section css */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.faqwrapper {
  width: 60%;
}

.faqcontainer {
  background: #ffffff28;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
  margin: 20px 0;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

.faqhyperlink {
  color: whitesmoke;
}

/* slider cards css */

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

button {
  background-color: #265df2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.ctfs_slider {
  display: grid;
  align-items: center;
  justify-content: center;
  
}


.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 38px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
