section {
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png");
  background-size: contain;
  width: 100vw;
  height: auto;
}

.two-column-wrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid red;
  padding-top: 20px;
}
.two-column-wrapper img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .two-column-wrapper {
    padding: 30px;
    max-width: 780px;
    margin: auto;
  }
  .two-column-wrapper > div {
    flex: 1;
    margin: 10px;
  }
}
.text {
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .text {
    margin-bottom: 0;
  }
}


.wordloop-h1 {
  font-size: 3em;
  color: blue;
}
.wordloop-h1 > .wordloop-span {
  position: relative;
  display: inline-block;
  color: #FF3C41;
  height: 1.25em;
  vertical-align: bottom;
  overflow: hidden;
}
.wordloop-h1 > .wordloop-span .wordloop-span {
  display: block;
  animation: animateWords 5s infinite ease;
}

/* divided into as many parts as there are spans, each part decreasing the translateY by -100% */
@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}
