{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cysec</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles1.css' %}">
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    
    <div class="cysecBody">
        {% include 'bg.html' %}
        
      <center>
        <img
          src="https://res.cloudinary.com/jerryhaxor/image/upload/v1682324473/cysec/cysec_transparent_gl1xiz.png"
          alt="cysec"
          style="height: 150%;"
        />
        <br />

        <h1 style="color: #ffffff">
          Big updates are coming soon<br />Stay tuned...!
        </h1>
        <br />
        <h3 style="color: #ffffff">Follow us on :</h3>
        <a href="https://www.instagram.com/cysec.gitam/" style="color: #ffffff"
          >@cysec instagram</a
        >
        <br />
        <a href="https://linktr.ee/cysec" style="color: #ffffff"
          >@cysec linktree</a
        >
      </center>
      
    </div>
  </body>
</html>
