<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cysec</title>
</head>
<body style="background-color:#000000;">
    <center>
    <img src="https://res.cloudinary.com/jerryhaxor/image/upload/v1682324473/cysec/cysec_transparent_gl1xiz.png" alt="cysec" style="width:350px;">
    <br>
    
    <h1 style="color:#FFFFFF">Big updates are coming soon<br>Stay tuned...!</h1>
    <br>
    <h3 style="color:#FFFFFF">Follow us on :</h3>
    <a href="https://www.instagram.com/cysec.gitam/" style="color:#FFFFFF">@cysec instagram</a>
    <br>
    <a href="https://linktr.ee/cysec" style="color:#FFFFFF">@cysec linktree</a>
    </center>
</body>
</html>